{% extends 'base.html' %}
{% load static %}
{% block title %}Tienda{% endblock %}
{% block breadcrumb %}
<li class="active">Tienda</li>
{% endblock %}
{% block content %}
<!-- ASIDE -->
<form action="" method="get">
<div id="aside" class="col-md-3">
    <!-- aside Widget -->
    <div class="aside">
        <h3 class="aside-title">Price</h3>
        <div class="price-filter">
            <div id="price-slider"></div>
            <div class="input-number price-min">
                <input id="price-min" type="number" value="{{price_min}}" step="1" name="price_min">
                <span class="qty-up">+</span>
                <span class="qty-down">-</span>
            </div>
            <span>-</span>
            <div class="input-number price-max">
                <input id="price-max" type="number" value="{{price_max}}" step="1" name="price_max">
                <span class="qty-up">+</span>
                <span class="qty-down">-</span>
            </div>
        </div>
    </div>
    <!-- /aside Widget -->

    <!-- aside Widget -->
    <div class="aside">
        <h3 class="aside-title">Brand</h3>
        <div class="checkbox-filter">
            <div class="input-checkbox">
                <input type="checkbox" id="brand-1">
                <label for="brand-1">
                    <span></span>
                    SAMSUNG
                    <small>(578)</small>
                </label>
            </div>
            <div class="input-checkbox">
                <input type="checkbox" id="brand-2">
                <label for="brand-2">
                    <span></span>
                    LG
                    <small>(125)</small>
                </label>
            </div>
            <div class="input-checkbox">
                <input type="checkbox" id="brand-3">
                <label for="brand-3">
                    <span></span>
                    SONY
                    <small>(755)</small>
                </label>
            </div>
            <div class="input-checkbox">
                <input type="checkbox" id="brand-4">
                <label for="brand-4">
                    <span></span>
                    SAMSUNG
                    <small>(578)</small>
                </label>
            </div>
            <div class="input-checkbox">
                <input type="checkbox" id="brand-5">
                <label for="brand-5">
                    <span></span>
                    LG
                    <small>(125)</small>
                </label>
            </div>
            <div class="input-checkbox">
                <input type="checkbox" id="brand-6">
                <label for="brand-6">
                    <span></span>
                    SONY
                    <small>(755)</small>
                </label>
            </div>
        </div>
    </div>
    <!-- /aside Widget -->

    <!-- aside Widget -->
    <div class="aside">
        <button class="btn btn-sm btn-block primary-btn" type="submit">Filtrar</button>
    </div> 
    <!-- /aside Widget -->

</div>
</form>
<!-- /ASIDE -->

<!-- STORE -->
<div id="store" class="col-md-9">
    <!-- store products -->
    <div class="row">
        <!-- product -->
        {% for product in products %}
        <div class="col-md-4 col-xs-6">
            <div class="product">
                <div class="product-img">
                    {% if product.image %}
                    <img src="{{product.image.url}}" alt="{{product.name}}">
                    {% else %}
                    <img src="{% static 'img/product01.png' %}" alt="{{product.name}}">
                    {% endif %}
                </div>
                <div class="product-body">
                    <p class="product-category">{{product.product_code}}</p>
                    <h3 class="product-name"><a href="{% url 'product' product.id %}">{{product.product_name}}</a></h3>
                    <h4 class="product-price">€ {{product.price}}</h4>
                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="product-btns">
                        <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Deseados</span></button>
                        <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Comparar</span></button>
                        <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Vista rápida</span></button>
                    </div>
                </div>
                <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Añadir</button>
                </div>
            </div>
        </div>
        {% if forloop.counter0|add:"1"|divisibleby:2 %}
        <div class="clearfix visible-sm visible-xs"></div>
        {% endif %}
        {% if forloop.counter0|add:"1"|divisibleby:3 %}
        <div class="clearfix visible-lg visible-md"></div>
        {% endif %}
        {% if forloop.counter0|add:"1"|divisibleby:3 %}
        <div class="clearfix visible-lg visible-md visible-sm visible-xs"></div>
        {% endif %}
        {% empty %}
        <div class="col-md-12">
            <p>No se se encontraron productos {% if query %} para: <strong>{{query}}</strong> {% endif %} </p>
        </div>
        {% endfor %}
        <!-- /product -->
    </div>
    <!-- /store products -->
</div>
<!-- /STORE -->
{% endblock %}